*{
    margin:0%;
    text-align: center;
    align-items: center;
}

.header {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 20%;
}

a {
    text-decoration: none;    
    color: white;
}

.header img {
    height: 85px;
    width: 85px;
    margin-left: 8%;
    margin-right: 30%;

    border-radius: 50%;
}

a:hover {
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;

}
.content img {
    width: 500px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 25px;
    width: 500px;
}


#atual {
    color: orange;
}

footer {
    text-align: center;
    background-color: #f8f8f8;
}

.footer_redes_sociais img{
    margin: 15px;
    bottom: 0%;
}