*{
    margin:0%;
}

.header {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 20%;
}

a {
    text-decoration: none;    
    color: white;
}

.header img {
    height: 85px;
    width: 85px;
    margin-left: 8%;
    margin-right: 30%;

    border-radius: 50%;
}

a:hover {
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 30px;
}

.contentimg img {
    width: 40%; 
    height: 40%;
    align-items: center;
    
}

.contentimg {
    text-align: center;     
}

#atual {
    color: orange;
}

.content {
    display: flex;
    justify-content: space-between;

}

.content summary {
    list-style: none;
}

.trajetoria {
    width: 50%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
}

.trajetoria h1 {
    font-size: 40px;
    color: #112244;
    margin-bottom: 5%;
}

.trajetoria p {
    margin-bottom: 4%;
    font-size: 25px; 
}

.btntrajetoria {
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.btntrajetoria:hover {
    background-color: #ff9900;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.realizacoes {
    align-items: center;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
    list-style: none;
    width: 60%;
}

.realizacoes details {
    font-size: 25px;
    background-color: orange;
    color : white;
}

.realizacoes h1 {
    text-align: center;
    align-items: 100%;
    font-size: 30px;
    border: 1px dashed orange;
    padding: 5px;
    border-bottom: none;
}

.realizData {
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

.realizData:hover {
    background-color: #ff9900; 
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
}

.realizacoes p {
    padding: 8px;
}

footer {
    text-align: center;
    background-color: #f8f8f8;
}

.footer_redes_sociais img{
    margin: 15px;
    bottom: 0%;
}