*{
    margin:0%;
}

.header {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 20%;
}

a {
    text-decoration: none;    
    color: white;
}

.header img {
    height: 40px;
    margin-left: 3%;
    margin-right: 30%;
}

a:hover {
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 30px;
}


.candidato {
    text-align: center;
    width: 100%;
    align-items: center;

}


#atual {
    color: orange;
}


.content {
    height: 800px;
}


footer {
    text-align: center;
    background-color: #f8f8f8;
    
}

.footer_redes_sociais img{
    margin: 15px;
    bottom: 0%;
}